*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
  max-width: 800px;
  margin: 0 auto;
}

.card-footer {
  text-align: center;
 margin: 0 auto;
  max-width: 800px;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

#criteria {

  display: flex;
  flex-direction: column;
  width: 100%;

}

.criteria input {

  margin: 10px;
}

#amountInput {
  padding: 10px;
  width: 20%
}

.slider-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding-bottom: 12px;
  justify-content: center;
  align-items: center;


}

.password-length {
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin-left: 5%;
  font-weight: 600;
}

.choose-label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.choose-label p {
  font-size: 14px;
  padding-left: 24px;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 10px;
  background: linear-gradient(90deg, hsl(360, 91%, 36%) 6%, lightgray 0%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
  /* box-shadow: 0px 1px 10px 1px grey; */
}

.slider:hover {
  opacity: 1;

}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: lightgrey;
  border-radius: 50%;
  cursor: pointer;

}

.slider::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background-color: lightgrey;
  border-radius: 50%;
  cursor: pointer;
}

.min-max {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#select-value {
  width: 24px;
  height: 32px;
  position: absolute;
  top: 0;
  background-color: hsl(360, 91%, 36%);
  border-radius: 4px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: white;
}

#select-value::after {
  content: '';
  border-top: 14px solid hsl(360, 91%, 36%);
  border-left: 12px solid white;
  border-right: 12px solid white;
  position: absolute;
  bottom: -12px;
  left: 0;

}

.select-options {
  display: flex;
  justify-content: space-between;
}

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 12px;
}

.radio-input {
  display: none;
}

.radio-radio {

  width: 1.25em;
  height: 1.25em;
  border: 2px solid lightgray;
  /* border-radius: 50%; */
  margin-right: 10px;
  box-sizing: border-box;
  padding: 2px;

}

.radio-radio::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: hsl(360, 91%, 36%);
  /* border-radius: 50%; */
  transform: scale(0);
  transition: transform .15s;
}

.radio-input:checked+.radio-radio::after {
  transform: scale(1);



}








@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  .select-options {
    flex-direction: column;
  }
  
  .radio {
    padding-bottom: 10px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}